@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap");

/* Minha nota para esse site: 5/10, ficou horrível, espero que melhore mais */

/* GENERAL */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: none;
  line-height: 1.5;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  background-color: #cbc3e3;
}

.container {
  width: 1100px;
  margin: 0 auto;
  padding: 30px;
}

/* HEADER */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
}

header .container .logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

header .container nav {
  display: flex;
  gap: 20px;
}

header .container nav a {
  font-size: 18px;
  color: #e5e7eb;
}

/* MAIN */
main .container {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  gap: 20px;
}

main .container .text,
main .container .image {
  width: 50%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

main .container .text h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

main .container .text h2 {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: 400;
}

main .container button {
  background-color: #3882f6;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 700;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  text-align: center;
}

.image img {
  max-height: 100%;
  max-width: 100%;
  /* object-fit: contain; */
}

/* BOXES */
section .container.boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  background-color: #fff;
}

section .container .boxes {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

section .container .boxes .box {
  max-width: 25%;
  max-height: 250px;
  display: flex;
  flex-direction: column;
}

section .container .boxes .box img {
  max-width: 200px;
  max-height: 200px;
  border: 3px solid #3882f6;
}

/* BLOCKQUOTE */
section .container.blockquote {
  background-color: #e5e7eb;
}

section .container blockquote {
  font-size: 36px;
  font-weight: 300;
}

section .container cite {
  display: block;
  text-align: end;
  font-size: 18px;
  font-weight: bold;
}

/* CALL TO ACTION */
.action .container {
  background-color: #3882f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action .container .text h3 {
  color: #fff;
}

.action .container .text p {
  color: #333;
  font-weight: 300;
}

.action .container button {
  background-color: transparent;
  padding: 0 20px;
  width: 100px;
  height: 30px;
  border: 1px solid #f9faf8;
  color: #f9faf8;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
}

/* FOOTER */
footer .container {
  background-color: #1f2937;
}
